<h1 class="text-center text-info"><img class=" w-100 width-edit-img-sm" src="/assets/img/FAQs-scaled.jpg" alt="FAQ">
</h1>
<div class="container">
    <div class="border">
        <h3 class="text-center text-info font-edit-link-sm"> Here you can find offical link that related to COVID-19
            site in jordan</h3>
        <div class="row align-items-center text-center">
            <div class="col-6"> <a href="https://corona.moh.gov.jo/en"><img class="w-50 width-edit-img-sm-two "
                        src="/assets/img/logo.jpg" alt="image"></a></div>
            <div class="col-6"> <a class="font-edit-links-sm" href="https://corona.moh.gov.jo/en">MoH COVID-19
                    VACCINE</a></div>
        </div>
    </div><br>




    <div class="row">
        <div class="col-lg-12 col-12 text-center">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                What is the Vaccine Locater?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            It is a website that was established to help and facilitate the citizens in Jordan to find
                            vaccination
                            centers on a daily basis, depending on the type of vaccine available, and also to book a
                            specific appointment by the people wishing to take the vaccine.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                How can I book appointment on the MyVaccineLocater site ?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Anyone wishing to schedule a vaccination appointment can do so easily by pressing the Book
                            Appointment
                            button on the page.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                How long does the home quarantine last for?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            The duration of the home quarantine is an estimated 14 days, which may extend to 24
                            days.
                            This is the incubation period of the virus before the onset of symptoms and when the person
                            with
                            it is
                            contagious, since the virus may be contagious before any symptoms appear.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingfour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"
                                aria-expanded="false" aria-controls="collapsefour">
                                Should travelling be cancelled due to the spread of COVID-19?
                            </button>
                        </h5>
                    </div>
                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="card-body">
                            Based on the assessment of potential health risks involved in traveling to some region,
                            most countries have canceled travel generally except in cases of necessity, whether
                            countries are infected
                            or not. In order to avoid the high prevalence of the virus, therefore travel to countries
                            classified as
                            infected with the emerging coronavirus should be avoided, except in cases of extreme
                            necessity
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingfive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive"
                                aria-expanded="false" aria-controls="collapsefive">
                                Do newborns of women with COVID-19 face the risk of having complications?
                            </button>
                        </h5>
                    </div>
                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                        <div class="card-body">
                            Based on a very limited number of cases, it was found that the fetus of mothers infected
                            with
                            the
                            emerging coronavirus was born prematurely, but it is not known until today whether the
                            preterm
                            birth was
                            caused by the infection of the virus corona-2019.
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="headingsix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix"
                                aria-expanded="false" aria-controls="collapsesix">
                                Does the infection of a mother with (COVID-19) affect the infant in breastfeeding cases?
                            </button>
                        </h5>
                    </div>
                    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                        <div class="card-body">
                            Depending on the limited number of cases studied so far, no case was found in which the
                            virus
                            was found
                            in breast milk, nor was any case in which the virus was transferred from the infected
                            mother's
                            milk to
                            her infant, the spread of the Coronavirus (COVID-19) is possible through direct contact with
                            the
                            infected person, and this mainly occurs through droplets that spread during sneezing or
                            coughing.
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="headingseven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven"
                                aria-expanded="false" aria-controls="collapseseven">
                                What is the proper way to wear a mask?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
                        <div class="card-body">
                            Wash your hands immediately before wearing it , Avoid touching or moving the mask while
                            wearing
                            it ,
                            Make sure not to touch your face or eyes while wearing them , Make sure your hair does not
                            touch
                            your
                            face or mask,Don't share the mask with others
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>