<br>

<form>
    <div class="row">
        <div class="form-group col-md-12">
            <label>Center Name</label>
            <select class="form-control">
                <option *ngFor="let card of cards" required>{{card.CenterName}}</option>

            </select>
        </div>
    </div>




    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="User@gmail.com" required>
        </div>

        <div class="form-group col-md-6">
            <label for="inputPhoneNumber">Phone Number:</label>
            <input type="number" class="form-control" id="inputPhoneNumber" placeholder="962+" required>
        </div>

    </div>

    <div class="row">
        <div class="col-6 text-center">
            <div class="" ngbDropdown #myDrop="ngbDropdown">
                <button class="btn btn-outline-primary" id="dropdownManual" ngbDropdownAnchor
                    (focus)="myDrop.open()">AvailableVaccines</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input form-check-input-edit " id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Pfizer
                        </label> <br>

                        <input type="checkbox" class="form-check-input form-check-input-edit" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            AstraZeneca
                        </label><br>

                        <input type="checkbox" class="form-check-input form-check-input-edit" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Sinopharm
                        </label><br>

                        <input type="checkbox" class="form-check-input form-check-input-edit" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Johnson
                        </label><br>

                        <input type="checkbox" class="form-check-input form-check-input-edit" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Moderna
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 text-center">
            <div class="" ngbDropdown #myDropp="ngbDropdown">
                <button class="btn btn-outline-primary" id="dropdownManualtwo" ngbDropdownAnchor
                    (focus)="myDropp.open()">AvailableDose</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManualtwo">
                    <div class="form-check">

                        <input type="checkbox" class="form-check-input form-check-input-edit " id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            First Dose
                        </label> <br>
                        <input type="checkbox" class="form-check-input form-check-input-edit " id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Second Dose
                        </label> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="col-12">
        <form class="form-inline justify-content-center">
            <div class="form-group">
                <div class="input-group">
                    <label for="inputDate">Date:</label>
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                        #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <a routerLink="/"><div class="text-center"> <button type="submit" class="btn btn-primary w-50">Send Me Alert</button></div></a>
    <br>




    