<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-info text-center" role="alert">
        If you have any information about COVID-19 vaccine in Jordan ? Call 111 OR 065004545
      </div>
    </div>
  </div>

  <div class="row reverse-row-sm">
    <div class="col-lg-6 col-12 body-edit">

      <h1 class="color-h1 text-center font-edit-sm-h1"> Find your Vaccine <a routerLink="/MapforallcenterComponent"
          routerLinkActive="active"> <button class="btn btn-outline-primary my-sm-0 rounded-pill btn-map-sm-color"
            type="submit" data-toggle="tooltip" data-placement="left"
            title="click here to see all centers location on map"><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path
                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg></button></a></h1><br><br>
      <h4 class="text-center">Use My Vaccine Locator to find every things about Vaccines</h4><br><br>
      <a routerLink="/SearchForSpecVacComponent" routerLinkActive="active"><button class="btn btn-primary w-100 mt-5">
          Let's find Vaccines</button> </a>
    </div>

    <div class="col-lg-6 col-12 text-center body-edit">
      <a><img class="w-75 img-edit-sm" src="/assets/img/find.png" alt="image"></a>
    </div>
  </div>
</div>